<web-app>
    <servlet>
        <servlet-name>ScrapeServlet</servlet-name>
        <servlet-class>ScrapeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScrapeServlet</servlet-name>
        <url-pattern>/WebScapingLab</url-pattern>
    </servlet-mapping>
</web-app>
